<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/416b951c-8346-4c76-afe0-03ae8f950d99/resourceGroups/SuParty20250527012713ResourceGroup/providers/Microsoft.ContainerRegistry/registries/SuParty</ResourceId>
    <ResourceName>SuParty</ResourceName>
    <ResourceGroup>SuParty20250527012713ResourceGroup</ResourceGroup>
    <Subscription>免費試用</Subscription>
    <RegistryUrl>suparty.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>be8804f0-6c9e-4d45-9a48-f6143a823701</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>