<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuParty</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuParty.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        function _baseUrlAddAction(action) {
        // 解析當前頁面的 URL
        let currentUrl = new URL(window.location.href);

        // 移除現有的查詢字串
            currentUrl.search = ''; // 清空現有的查詢字串

        // 在清空的 URL 後面加上 ?handler=Tracking
            currentUrl.searchParams.append('handler', action);
            return currentUrl;
        }
        function sendRequest(url, bodyData) {
            return fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val(),
                    'X-Requested-With': 'XMLHttpRequest'  // 建議加入以標明非標準瀏覽器請求
                },
                body: new URLSearchParams(bodyData).toString()  // 將 bodyData 物件轉換為表單編碼格式
            })
            .then(response => response.json()); // 解析回應，並將結果返回
        }

    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SuParty</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/pages/Chat/ChatPrivate">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/pages/User/UserData">UserData</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SuParty - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
